body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("../img/login-reg-img/banner.jpg");
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8bd0d5;
    height: 100%;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 0px;
    
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
}

nav ul{
    float: right;
    margin-right: 20px;
    
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
}


.loginForm{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #ddd;
    padding: 20px;
    margin: 6% auto;
    text-align: center;
}

.loginForm h1{
    color: #1c8adb;
    margin-bottom: 20px;
}

.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #999;
    outline: none;
}

button{
    /* background-color: #1c8adb; */
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    font-size: 17px;
    margin: 10px 0;
    outline: none;
    border: none;
    cursor: pointer;
}

.login-btn{
    background-color: navy;
    color: #fff;
}

.social-signin.facebook{
    background-color: #1c8adb;
}

.social-signin.twitter{
    background-color: #657786;
}

.social-signin.google{
    background-color: #DB4437;
}

a{
    text-decoration: none;
}
hr{
    margin-top: 20px;
    width: 80%;
}

.or{
    background-color: #ddd;
    width: 30px;
    margin: -19px auto 10px;
}